.text-area {
    text-area-background: #686c6d ;
    -fx-text-fill: #ffffff;
}

.text-area .content {
    -fx-background-color: text-area-background ;
}

.scroll-pane > .viewport {
   -fx-background-color: #686c6d;
}

.table-view{
    -fx-background-color: #686c6d;
    -fx-table-cell-border-color:#b8bbc1;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #686c6d;
}

.table-row-cell:empty {
    -fx-background-color: #686c6d;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}
